.kaufman__triangle {
  position: absolute;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 877px;
  right: -210px;
  width:  877px;
  height: 877px;
  top:30px;
  z-index: 0;
}
