@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);

/* стилизуем блок header ↓*/

@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place_header/logo_place_header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

 /* стилизуем блок header ↑*/

 /* стилизуем блок description ↓*/

@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);

 /* стилизуем блок description ↑*/

 /* стилизуем блок techniques  ↓*/

@import url(../blocks/techniques/techniques.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);

 /* стилизуем блок techniques  ↑*/

 /* стилизуем блок video  ↓*/

@import url(../blocks/video/video.css);
/* блоки section-title и section-subtitle берутся выше*/
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframe/video__iframe.css);

 /* стилизуем блок video  ↑*/

 /* стилизуем блок oakley  ↓*/

@import url(../blocks/oakley/oakley.css);
/* блоки two-columns__brief,two-columns__main-text и two-columns__paragraph  берутся выше*/

 /* стилизуем блок oakley  ↑*/


/* стилизуем блок digits ↓*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* стилизуем блок digits ↓*/
.digits {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 0;
  width: 1100px;
}
.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style-type: none;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
/* стилизуем блок digits ↑*/

/* стилизуем блок faynman  ↓ */
.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
}
.feynman__title {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 648px;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}
.feynman__subtitle {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 70px;
  margin: 0;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  z-index: 1;
}
.feynman__link:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.feynman__foto {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/* стилизуем блок feynman  ↑*/

/* стилизуем блок kaufman  ↓ */

.kaufman {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  position:relative;
  background-color: #1f1f1f;
  overflow: hidden;
  }
.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}
.section-subtitle_theme_dark {
  position:relative;
  color: white;
  z-index: 1;
}
.table_theme_dark {
  position:relative;
  row-gap: 80px;
  padding-top: 80px;
  color: white;
  z-index: 1;
}
.table__cell_theme_dark {
  position:relative;
  width: 200px;
  list-style-type: none;
  z-index: 1;
}
.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px;
  right: -210px;
  width:  877px;
  height: 877px;
  top:30px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}


/* стилизуем блок kaufman  ↑*/

/* стилизуем блок footer  ↓*/

.footer {
	display: flex;
	justify-content: center;
	min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_content_info {
  justify-content: start;
}
.footer__column_content_social {
  justify-content: start;
}
.logo_place_footer {
  margin: 0;
  padding: 0;
}
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
}
.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 1;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}

.footer__social-icon {
  margin-right: 10px;
  color: white;
  width: 16px;
  height: 16px;
}

/* стилизуем блок footer  ↑*/


/* стилизуем блок khan  ↓*/

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}
.khan__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 38px;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.khan__book-container {
  display: flex;
  justify-content: start;
  column-gap: 48px;
  padding-top: 68px;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}

/* стилизуем блок khan  ↑*/

/* стилизуем блок resources  ↓*/

.resources {
  margin-top: 100px;
  margin-bottom: 270px;
}
.resources__logo-zone {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 0;
  width: 1100px;
  list-style-type: none;
}
.resources__link {
 opacity: 1;
}
.resources__link:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.resources__logo {
  width: 270px;
  height: 38px;
}



/* стилизуем блок resources  ↑*/

